<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>



<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="catch _form">
        <%= render 'shared/catch_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Catches:</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Fisherman's friend</h1>

  <h2>
    This app will help you to find best place for your fishing trip.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

  Best places for carp fishing:

  <body>
  <table style="width:50%">
    <tr>
      <th>Area</th>
      <th>Count</th>


      <% @carp_places.each do |place| %>
      <tr>
        <td> <%=place['name'] %> </td>
        <td> <%=place['count'] %></td>
      </tr>
    <% end %>
    </tr>
  </table>
  </body>


  Fish caught on Lake Javier:

  <body>
  <table style="width:50%">
    <tr>
      <th>Fish</th>
      <th>Count</th>


      <% @Lake_Javier_fish.each do |fish| %>
      <tr>
        <td> <%=fish['name'] %> </td>
        <td> <%=fish['count'] %></td>
      </tr>
    <% end %>
    </tr>
  </table>
  </body>

  Best bait for pike fishing:

  <body>
  <table style="width:50%">
    <tr>
      <th>Bait</th>
      <th>Count</th>


      <% @Pike_baits.each do |bait| %>
      <tr>
        <td> <%=bait['name'] %> </td>
        <td> <%=bait['count'] %></td>
      </tr>
    <% end %>
    </tr>
  </table>
  </body>
<%end %>

</html>