<li id="catch-<%= catch.id %>">
  <span class="user"><%= link_to catch.user.name, catch.user %> caught fish.</span>
  <span class="timestamp">
    Date: <%=  (catch.created_at) %> .
    <% if current_user?(catch.user) %>
      <%= link_to "Vymaž",catch, method: :delete,
                  data: { confirm: "Si si istý?" } %>
    <% end %>
    <%= link_to  "Ukáž detaily", catch %>
  </span>
</li>