<li id="catch-<%= catch.id %>">
  <span class="user"><%= catch.fish.name%>, <%= catch.area.name %>, <%= catch.size%> cm.</span>
  <div class="row" align="left" >
    <% if current_user?(catch.user) %>
      <%= link_to "Vymaž", catch, method: :delete,
                  data: { confirm: "Si si istý?" } %>
    <% end %>
    <%= link_to  "Zobraz detaily", catch %>
  </div>
</li>