<li id="catch-<%= catch.id %>">
  <span class="user"><%= link_to catch.user.name, catch.user %> caught fish.</span>
  <span class="size">Size: <%=  catch.size %> cm,</span>
  <span class="size">Weight: <%=  catch.weight %> kg</span>
  <span class="timestamp">
    <%= time_ago_in_words(catch.created_at) %> ago.
    <% if current_user?(catch.user) %>
      <%= link_to "delete",catch, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>