<% provide(:title, @catch.user.name) %>

<div class="row">
    <section class="catcch_info">
      <div> <span>  <b><%= "Fisherman:" %></b> <%= @catch.user.name%> <%= @catch.user.surname %> </span></div>
      <div><span>  <b><%= "Fish:" %></b> <%= @catch.fish.name%>  </span></div>
      <div><span>  <b><%= "Weight:" %></b> <%= @catch.weight%>  </span></div>
      <div><span>  <b><%= "Length:" %></b> <%= @catch.size%>  </span></div>
      <div><span>  <b><%= "Area:" %></b> <%= @catch.area.name%>  </span></div>
      <div><span>  <b><%= "Bait:" %></b> <%= @catch.bait.name%>  </span></div>
      <div><span>  <b><%= "Method:" %></b> <%= @catch.methodf.name%>  </span></div>
      <div><span>  <b><%= "Date:" %></b> <%= @catch.created_at%>  </span></div>
    </section>
  </aside>
</div>