<% provide(:title, 'All users') %>
<h1>All users</h1>


<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to  'Show', user, class: "btn btn-primary" %>
      Name:<%= user.name %> <%=user.surname %>
      E-mail:<%= user.email %>

    </li>


  <% end %>

</ul>

<%= will_paginate %>
