<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p> <%= gravatar_for @user %> </p>
       <%= "Name:" %> <%= @user.name %>
      <%= "Surname:" %> <%= @user.surname %>
       <%= "Age:" %> <%= @user.age %>
       <%= "Email:" %> <%= @user.email %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.catches.any? %>
      <ol class="catches">
        <%= render @catches %>
      </ol>
    <% end %>
  </div>
</div>

