Add new catch...
<%= form_for(@catch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label :size %>
    <%= f.number_field :size, class: 'form-control' %>

    <%= f.label :weight %>
    <%= f.number_field :weight, class: 'form-control' %>

    <%= f.label :area_id%>
    <%= f.number_field :area_id, class: 'form-control' %>

    <%= f.label :method_id %>
    <%= f.number_field :method_id_id, class: 'form-control' %>

    <%= f.label :time_id %>
    <%= f.number_field :time_id_id, class: 'form-control' %>

    <%= f.label :bait_id %>
    <%= f.number_field :bait_id_id, class: 'form-control' %>


  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>