<h3>Pridaj svoj úlovok...</h3>
<%= form_for(@catch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.label 'Ryba' %>
    <%= f.collection_select :fish_id, Fish.all, :id, :name, :include_blank => true %>

    <%= f.label 'Veľkosť' %>
    <%= f.number_field :size, class: 'form-control' %>

    <%= f.label 'Váha' %>
    <%= f.number_field :weight, class: 'form-control' %>

    <%= f.label 'Revír'%>
    <%= f.collection_select :area_id, Area.ordered_by_name , :id, :name, :include_blank => true %>

    <%= f.label 'Návnada' %>
    <%= f.collection_select :bait_id, Bait.all, :id, :name, :include_blank => true %>

    <%= f.label 'Spôsob lovu' %>
    <%= f.collection_select :methodf_id, Methodf.all, :id, :name, :include_blank => true %>


  </div>
  <%= f.submit "Pridať", class: "btn btn-primary" %>
<% end %>