<html>
<head>
  <style>

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th {
      background-color: #337ab7 ;
      color: white
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: Aliceblue;
    }
  </style>
</head>


<div class="row">
  <aside class="col-md-4">
    <section class="area_info">
      <span><%= "Name:" %> <%= @area.name %> </span>
      <span><%= "Acreage:" %> <%= @area.acreage %> </span>
      <span><%= "Number:" %> <%= @area.number %> </span>
      <span><%= "Organization name:" %> <%= @area.owner.name %></span>
      <span><%= "District name:" %> <%= @area.owner.district.name %></span>
      <span><%= "Province name:" %> <%= @area.owner.district.province.name %></span>
    </section>
  </aside>
  <% if @fish_population.any? %>

  <div class="col-md-8">
    <body>
    <table style="width:50%">
      <tr>
        <th>Area name</th>
        <th>Fishes caught</th>
          <% @fish_population.each do |record| %>
            <tr>
            <td> <%=record['name'] %> </td>
            <td> <%=record['count'] %></td>
            </tr>
          <% end %>
      </tr>
    </table>
    </body>
  </div>
    <% else %>
  No catches in this area!
    <% end %>
</div>
